<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./port/style.css">
    <title>Home</title>
    <style>
        body {
            position: fixed;
        }
    </style>
</head>

<body>
    <header>
        <div id="header-container">
            <div id="header-top">
                <p id="www"> Somthing </p>
            </div>
            <div id="header-bottom">
                <div>
                    <span id="amogus">Amogus</span>
                </div>
                <div>
                    <ul id="nav-btns">
                        <li><a href="/home"><span class='current'> Home </span> </a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="#">Progress</a></li>

                    </ul>
                </div>
                <div>
                    <button id="apply-btn"><a id="apply-link" href="#">
                            <%= name %>
                        </a></button>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div id="big-text-section">
            <div>
                <h1>Random Text Here Nothing To Eatch</h1>
                <p>Another Random Text but small bruh i really <br>dont now what to write and here </p>
            </div>
            <div id="make-this">
                <button class="bt"><a href="#">Contact</a></button>
                <button class="bt"><a href="#">Premium</a></button>

            </div>
        </div>
    </section>
    <footer style="background-color: black; color: white;">
        <form action="/logout" method="post">
            <input type="submit" value="Logout" />
        </form>
    </footer>
</body>

</html>