<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='./port/style.css'>
    <title>Projects</title>

</head>

<body>

    <header>
        <div id="header-container">
            <div id="header-top">
                <p id="www"> Somthing </p>
            </div>
            <div id="header-bottom">
                <div>
                    <span id="amogus">Amogus</span>
                </div>
                <div>
                    <ul id="nav-btns">
                        <li><a href="/home"> Home </a></li>
                        <li><a href="/projects"> <span class="current"> Projects </span></a></li>
                        <li><a href="#">Progress</a></li>

                    </ul>
                </div>
                <div>
                    <button id="apply-btn"><a id="apply-link" href="#">
                            <%= name %>
                        </a></button>
                </div>
            </div>
        </div>
    </header>


    <section>
        <div id="project">
            <div class="Projects">
                <img src="./port/img/p1.png" class="project-image" alt="">
                <span>Project 1</span>
                <a href="#">Go...</a>
            </div>
            <div class="Projects">
                <img src="./port/img/p2.jpeg" class="project-image" alt="">
                <span>Project 2</span>
                <a href="#">Go...</a>
            </div>
            <div class="Projects">
                <img src="./port/img/p3.png" class="project-image" alt="">
                <span>Project 3</span>
                <a href="#">Go...</a>
            </div>

            <div class="Projects">
                <img src="./port/img/p1.png" class="project-image" alt="">
                <span>Project 4</span>
                <a href="#">Go...</a>
            </div>
            <div class="Projects">
                <img src="./port/img/p2.jpeg" class="project-image" alt="">
                <span>Project 5</span>
                <a href="#">Go...</a>
            </div>
            <div class="Projects">
                <img src="./port/img/p3.png" class="project-image" alt="">
                <span>Project 6</span>
                <a href="#">Go...</a>
            </div>
        </div>
    </section>
    <footer></footer>
</body>

</html>