<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./actual/style.css">
    <title>Document</title>
</head>
    <body>
        <!-- <div id="auth"class="hj">
            <span>BLOCKED</span>
            <input type="text">
        </div> -->
        <div id="all" class="smth">
            <div id="top">
                <h1>BAKA</h1>
                <p> <%= name %></p>
            </div>
            <!-- <div id="mid"> -->
                <textarea class="input" id="input" name="text" placeholder="Your word please..."></textarea>
                <!-- <p></p> -->
                <!-- <span style="color: white; border-bottom: 1px solid gray; 
                    margin:auto;">Input Language</span>
                <div id="rad-cont">
                        <div class="radio-btns">
                            <input type="radio" value="English"> <label for="">English</label>
                        </div>
                        <div class="radio-btns">
                            <input type="radio" value="Bro"> <span for="">Bro</span>
                        </div>
                    </div>
                    <span style="color: orange; border-bottom: 1px solid gray; 
                                        margin:auto;">New Language</span> -->
                <select name="languages" id="languages">
                    <option id="select-lan">Select Language</option>
                    <option value="English" id="eng">To English</option>
                    <option value="Bro" id="bro">To Bro</option>
                </select>
                <button onclick="translateIt()" id="translate-btn">Translate</button> 
                <div id="bottom">
                    <h1>Translation</h1>
                    <div class="output" id="output"> 
                        <p id="txt"></p>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        <div class="guide-container">
            <ul class="guid-list">
                <h3>This is Manual-</h3>
                <li>
                    You Know The Rules So Do I 
                </li>
                <li>
                    Input Correct Things Beacues The App Isn't Smart Ass Like You

                </li>
            </ul>
        </div>
        <form action="/logout" method="post">
            <input type="submit" value="Log out">
        </form>
    <script src="./actual/practice.js"></script>
</body>
</html>